/* Grid principal */
body{
     background: url('Imagenes/Contacto/fondo-contacto.png') no-repeat center center / cover fixed;
}
main {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 2rem;
    padding: 2rem;
    margin-top: 5rem;
    width: 100%;
    align-items: center;
}

/* Info */
.div-info {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    line-height: 2rem;
}

i{
    margin: 1rem;
}

.div-info ul li a{ text-decoration: none; color: #000;}
.div-info ul li a:hover{ font-weight: 900; }

.div-info ul {
    list-style: none; 
    padding-left: 0;  
    margin: 0;
}

.div-info ul li {
    list-style: none;
    display: flex;         
    align-items: center;
    gap: 8px;               /* Espacio entre ícono y texto */
    justify-content: flex-start; /* Alinea todo a la izquierda */
}

/* Mapa */
.div-maps {
    border-radius: 8px;
    overflow: hidden; 
}

.div-maps iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
    display: block;
}


/* ==== FORMULARIO DE CONTACTO ==== */
.form-contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.form-contacto h2 {
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #000000;    
}

.form-group input,
.form-group textarea {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #00b894;
    box-shadow: 0 0 5px rgba(0, 184, 148, 0.3);
    outline: none;
}

.form-group textarea {
    resize: vertical;
}

/* ==== CHECKBOX ==== */
.form-group.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-group.checkbox label {
    margin: 0;
    font-size: 0.95rem;
}

.form-group.checkbox a {
    color: #b41271;
    text-decoration: none;
}

.form-group.checkbox a:hover {
    text-decoration: underline;
}

/* ==== BOTÓN ==== */
.btn-enviar {
    display: block;
    width: 15%;
    background: #b41271;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-enviar:hover {
    background: #000000;
    color: #b41271;
}
