
.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
}

/* Secciones */
section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

section h2 {
    color: #000000;
    margin-bottom: 15px;
}

section p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 10px;
}

/* Botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #000000;
}

/* Formulario */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #000000;
    color: #fff;
    border: none;
}

form button:hover {
    background-color: #000000;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #000000;
    color: #fff;
    margin-top: 20px;
}
