 body{
    background: url('pattern.svg');}
 
 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registro-container {
    background-color: #000000;
    padding: 2rem 3rem;
    margin: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    color: white;
    align-items: center;
    margin-top: 5rem;
}        

h2 {
text-align: center;
margin-bottom: 1.5rem;
color: #ffffff;
}

label {
display: block;
margin-top: 1rem;
letter-spacing: 1px;
}

input {
width: 100%;
padding: 10px;
margin-top: 5px;
border: none;
border-radius: 5px;
outline: none;
   }

button {
    display: block;
    width: 30%;
    padding: 12px;
    background-color: #b41271;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 1rem auto 0 auto;
    cursor: pointer;
    transition: 0.3s;
 }

button:hover {
    background-color: #ffffff;
    color: #b41271;
    box-shadow: 0 4px 10px #b41271;
}

.login-link {
    text-align: center;
    margin-top: 1rem;
 }

.login-link a {
    color: #b41271;
    text-decoration: none;
}

.login-link a:hover {
text-decoration: underline;
}