#titular{text-align: center; height: 30vh;}
h1{
    font-size: 3rem;
    color: #fff;
    background: #000;
    text-align: center;
    letter-spacing: 2px;
}

.art-mision, .art-valores, .art-vision{
    width: 100%;
    background-attachment: fixed; /* Efecto parallax */
}

.art-mision{
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
    text-align: center;
    height: 50vh;
}

.art-vision{
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
    text-align: center;
    height: 50vh;
}

.art-valores{   
    color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
    text-align: center;
    height: 50vh;
}

.h2-sobrenosotros{
    font-size: 2rem;
    letter-spacing: 2px;
}