/*
URL: TIENDA
*/
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    padding: 2rem;
    margin-top: 2rem;
}

.producto-nutricion, .producto-accesorios {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1/1; /* Todas las tarjetas cuadradas */
    background-size: cover; /* Imagen ocupa todo el contenedor */
    background-position: center; /* Centrado de la imagen */
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 0 3px 6px rgb(255, 255, 255);
}

.producto-nutricion:hover ,.producto-accesorios:hover {
    transform: scale(1.03) rotate(-1deg);
    transition: transform 0.3s ease;
    border: 2px solid #b41271;
    box-shadow: 0 3px 6px #b41271;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.producto-accesorios:hover .overlay,.producto-nutricion:hover .overlay {
    opacity: 1;
}


.precio {
    font-size: 2rem;
    margin-bottom: 5px;
}

.descripcion {
    font-size: 1.2rem;
    letter-spacing: 1px;
}


/* === Barra de filtros: ASIDE*/
.barra-filtros {
    position: absolute;
    top: 100px;
    width: 100%;
    background-color: #b41271;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.barra-filtros form {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.filtro {
    display: flex;
    align-items: center;
    gap:10px;
}

.filtro label {
    color: #ffffff;
}

select, button {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 3px 6px #000;
}

#h1-tienda{color: #fff; margin-top: 7rem; text-align: center; font-size: 3rem;}
/*FIN CSS ASIDE*/


@media (max-width: 499px) {
    .filtro {
    padding: 0.2rem;
}
    aside.barra-filtros {
    padding: 1.5rem;
}
}



